@page "/Video/Create"

<h1>Tạo video mới</h1>

<div>
    <div class="mb-3">
        <label for="name">Tên</label>
        <InputText @bind-Value="@(model.Name)" class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="formFile" class="form-label">Tải lên</label>
        <input class="form-control" type="file" id="formFile">
    </div>
</div>

@code {
    private Model model = new();

    public class Model
    {
        public string Name { get; set; }
    }

}